In [1]:
import pandas as pd
import pyodbc
import os

In [2]:
## We will use enviornmnet variable to load the ini files which contains the DSN information, in case the connection needs to be made via DSN
os.environ['ODBCSYSINI'] = '/Library/ODBC'

In [3]:
## We can make connections in either of the 2 days either by loading Driver manually or via DSN

driver= '/Library/Dremio/ODBC/lib/libarrow-flight-sql-odbc.dylib'
dsn='amarflightodbcdsn'
host='localhost'
port=32010
uid='amar'
pwd='XXX'
encryption ='false'

In [4]:
## Below are 2 connect strings for Flight ODBC, one is with manual driver loading and another one is via DSN configured in Mac using ODBC Manager

#cnxn = pyodbc.connect("Driver={};ConnectionType=Direct;HOST={};PORT={};AuthenticationType=Plain;UID={};PWD={};UseEncryption={}".format(driver,host,port,uid,pwd,encryption),autocommit=True)
cnxn = pyodbc.connect("DSN={};ConnectionType=Direct;HOST={};PORT={};AuthenticationType=Plain;UID={};PWD={};UseEncryption={}".format(dsn,host,port,uid,pwd,encryption),autocommit=True)

In [5]:
sql="select * from stage.customer limit 150"

In [6]:
df = pd.read_sql_query(sql,cnxn)

/var/folders/50/8qyvdbb970gddrl11xpmjycw0000gn/T/ipykernel_3289/3593899151.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql,cnxn)

In [7]:
df.head()

,i ,g e n ,d e p a r ,c o u n,s a l ,d a t e _ o f _,p r o m o,y o y _ g ,s a l e ,u s e r,a d d r
0,0,MALE,IT,jp,214618,04/14/2014,NO,26,1262,174,21505 Pearl Nest Point
1,1,FEMALE,FINANCE,jp,291201,09/14/2014,YES,37,1173,147,22606 Broad Pumpkin Grove
2,2,MALE,SALES,br,199220,06/20/2011,YES,27,130,119,32620 Sunny Bear Bayou
3,3,MALE,FINANCE,ko,69570,02/12/2010,YES,17,6340,1016,25460 Sunny Stone Estates
4,4,FEMALE,IT,ru,266615,11/26/2012,YES,26,422,32,54934 Fallen Goose Shoal

In [8]:
df.shape

(150, 11)